@font-face {
    font-family: starWarsFont;
    src: url(../fonts/RedFive.otf);
}

body {
	font-family: starWarsFont;
	background-image: url('../images/game-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.character-img {
	cursor: pointer;
}

.panel-footer, .panel-default > .panel-heading {
	text-align: center;
	color: #f3c72a;
	height: 41px;
	background-color: #5f6f77;
	font-size: 110%;
}

.section-heading {
	font-size: 150%;
	color: #bc722e;
}

.element-red-box-shadow {
	box-shadow: 10px 10px 5px #ff0000;
	border:5px solid #ff0000;
}

.element-green-box-shadow {
	box-shadow: 10px 10px 5px #66ff33;
	border:5px solid #66ff33;
}

.element-orange-box-shadow {
	box-shadow: 10px 10px 5px #eca637;
	border: 5px solid #eca637;
}

.swg-3x {
	margin-right: 60%;
}

#vs-text-container.col-md-1 {
	margin-top: 8%;
	padding: 0;
}

#vs-text {
	font-size: 500%;
	color: red;
	display: none;  /* Jquery fadeIn requires display property! */
}

#attack-messages {
	color: black;
	font-size: 90%;
	overflow: scroll;
	height: 55px;
}

#attack-button {
	width: 110%;
	background-color: #f3c72a;
}

#attack-button:hover {
    background-color: #ff0000;
}

.game-btn-text {
	text-align: center;
	position: absolute;
	left: 45%;
	top: 40%;
}

#restart-button {
	display: none;
	width: 110%;
	background-color: #f3c72a;
	color: #FFFFFF;
}

#restart-button:hover {
    background-color: #ff0000;
}